<style>.panel iframe { border: none !important; border-top: 1px solid #ccc; }</style>

<div class="panel panel-default js-wptbuild">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="label label-default" href="{{ url }}">{{ url }}</a> -
      /
      <a href="#" class="small js-jsonresult">
        JSON results
      </a>
      <a class="build-box-header-link small" href="{{ jenkinsJSON }}" title="{{ jenkinsJSON }}">
        (link)
      </a>

      <a href="#" class="glyphicon glyphicon-plus js-plus right is-hidden"></a>
      <a href="#" class="glyphicon glyphicon-minus js-minus right"></a>
    </h4>
  </div>
  <div class="panel-body js-body">

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Webpagetest summary page</td>
          <td><a href="{{ summary }}">{{ summary }}</a></td>
        </tr>
        <tr>
          <td>Webpagetest Test ID</td>
          <td>{{ testid }}</td>
        </tr>
        <tr>
          <td>Webpagetest Details</td>
          <td><a href="{{ pages.details }}">{{ pages.details }}</a></td>
        </tr>
        <tr>
          <td>Webpagetest checklist</td>
          <td><a href="{{ pages.checklist }}">{{ pages.checklist }}</a></td>
        </tr>
        <tr>
          <td>Webpagetest breakdown</td>
          <td><a href="{{ pages.breakdown }}">{{ pages.breakdown }}</a></td>
        </tr>
        <tr>
          <td>Webpagetest domains</td>
          <td><a href="{{ pages.domains }}">{{ pages.domains }}</a></td>
        </tr>
        <tr>
          <td>Screenshot</td>
          <td>
            <a href="{{ screenshot }}"><img src="{{ screenshot }}" /></a>
          </td>
        </tr>
        <tr>
          <td>Waterfall</td>
          <td>
            <a href="{{ waterfall }}"><img src="{{ waterfall }}" /></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="js-json is-hidden">
      <pre><code>{{{ json }}}</code></pre>
    </div>
  </div>

</div>
