
<div class="col-sm-12 js-codemirror">
  <a href="#" class="js-codemirror-show btn btn-link">
    Show {{ name }} config
  </a>

  <textarea class="js-textarea form-control is-hidden"
    name="{{ name }}"
    data-line-numbers="true"
    data-hidden="true"
    >{{{ body }}}</textarea>
</div>

{{#extend "scripts"}}
<script src="{{ baseURL }}/js/blocks/codemirror.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
<link rel="stylesheet" href="{{ baseURL }}/stylesheets/blocks/codemirror.css"/>
{{/extend}}
