<div
  class="js-highchart"
  data-name="{{ highcharts.name }}"
  data-action="{{ highcharts.action }}"
  data-config="{{ highcharts.json }}"
  data-expand="{{ highcharts.expand }}"
  data-assert="{{ highcharts.assert }}"
>

  <div class="js-highchart-graph"></div>
</div>
