<ul class="nav nav-tabs job-tabs">
  <li {{#tabs.current}}class="active"{{/tabs.current}}>
    <a href="{{ baseURL }}/{{ job.namespace }}/{{ job.name }}">Current</a>
  </li>
  <li {{#tabs.builds}}class="active"{{/tabs.builds}}>
    <a href="{{ baseURL }}/{{ job.namespace }}/{{ job.name }}/builds">Build History</a>
  </li>

  {{#job.tabs}}
  <li>
    <a href="{{ url }}">
      {{ text }}
    </a>
  </li>
  {{/job.tabs}}

  {{{ body }}}

  <li {{#tabs.edit}}class="active"{{/tabs.edit}}>
    <a href="{{ baseURL }}/{{ job.namespace }}/{{ job.name }}/edit/">Edit</a>
  </li>
</ul>
