{{#extend "stylesheets"}}
<link rel="stylesheet" href="{{ baseURL }}/stylesheets/style.css"/>
{{/extend}}

{{#extend "scripts"}}
<script src="/js/pages/create.js"></script>
{{/extend}}

{{#edit}}
  {{> job_summary }}

  {{#tabs tabs job}}
    <li>
      <a href="/{{ job.namespace }}/{{ job.name }}/metrics">Metrics</a>
    </li>
  {{/tabs}}
{{/edit}}

{{^edit}}
<div class="page-header">
  <h2 class="page-title">Create phantomas job</h2>
</div>
<p class="description">
  Fill in the form below to create a new Job, with a Phantomas script.
</p>
{{/edit}}

{{#saved}}
<div class="alert alert-success">
  Job {{ job.name }} saved.
</div>
{{/saved}}

<form action="{{ action }}" class="form
  {{#edit}}form-edit{{/edit}} js-job-form" method="post" data-cron="{{ job.cron }}">

  <div class="form-group">
    <label for="ipt_name" class="control-label">Job name</label>
    <input
      required
      {{#edit}}disabled{{/edit}}
      id="ipt_name"
      name="name"
      value="{{ job.name }}"
      type="text"
      class="form-control"
      placeholder="Fancy name">

    {{#edit}}
    <input type="hidden" name="name" value="{{ job.name }}">
    {{/edit}}
  </div>

  <div class="form-group">
    <label for="ipt_frequency" class="control-label">Frequency</label>
    <div class="js-cron form-control cron-box">

      <span class="js-cron-text cron-text"><span>
    </div>
    <input type="hidden" name="cron" class="js-cron-input">
  </div>

  <div class="form-group row" style="margin-top: 50px;">
    {{> urls }}
  </div>

  <div class="form-group row">
    <fieldset class="col-sm-12">
      <legend>Job Script</legend>
      {{#codemirror '{ "name": "script" }'}}
      {{ job.script }}
      {{/codemirror}}

      {{#codemirror '{ "name": "xml" }'}}
      {{ job.xml }}
      {{/codemirror}}

      {{#codemirror '{ "name": "json" }'}}
      {{ job.json }}
      {{/codemirror}}
      <span class="js-json-error"></span>
    </fieldset>
  </div>

  <div class="form-submit col-sm-12">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary right">Save</button>
    </div>
  </div>

</form>

