{{#extend 'stylesheets'}}
<link rel="stylesheet" href="/phantomas/stylesheets/metrics.css">
<link rel="stylesheet" href="/stylesheets/blocks/graph.css">
<style>
.graph .graph-graphite-img { max-width: 100%; }
.graph .graph-graphite-img:hover {
  -webkit-box-shadow: 0px 0px 8px 0px #ccc;
          box-shadow: 0px 0px 8px 0px #ccc;
          cursor: pointer;
}
</style>
{{/extend}}

{{#extend "scripts"}}
<script src="/js/pages/metric-toolbar.js"></script>
<script src="/js/pages/graphite-panel.js"></script>
{{/extend}}

{{> job_summary }}

{{#tabs tabs job}}
  <li class="active">
    <a href="/{{ job.namespace }}/{{ job.name }}/metrics">Metrics</a>
  </li>

  <li class="">
    <a href="/{{ job.namespace }}/{{ job.name }}/asserts">Asserts</a>
  </li>
{{/tabs}}

<div class="metrics-toolbar js-toolbar">
  <div class="btn-toolbar metrics-toolbar-item" role="toolbar">
  <div class="btn-group">
    <span>Metric:</span>
    <select class="js-target">
      <option value="">All</option>
      {{#_metrics}}
      <option value="{{ target }}" {{#selected}}selected="selected"{{/selected}}>{{ target }}</option>
      {{/_metrics}}
    </select>
  </div>

  <div class="btn-group right">
    <a href="?from=-7d" class="btn btn-default">
      last 7d
    </a>
    <a href="?from=-24h" class="btn btn-default">
      last 24h
    </a>
    <a href="?from=-12h" class="btn btn-default">
      last 12h
    </a>
    <a href="?from=-6h" class="btn btn-default">
      last 6h
    </a>
  </div>

</div>

<div class="phantomas-metrics row">
  {{#metrics}}
  <div class="col-md-{{ colsize }}">
    <div class="panel panel-default graph js-graph" data-name="{{ target }}" data-assert="{{ assert }}">
      <div class="panel-body">
        <h4 class="js-target">
          {{ target }}
        </h4>

        <div class="btn-group graph-btn-group is-hidden js-buttons right">
          <a href="#" class="js-edit btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>

        <img class="graph-graphite-img js-img" src="{{ url }}" />
      </div>
    </div>
  </div>
  {{/metrics}}
</div>

{{^metrics}}

  {{#markdown '{ "inlineCSS": true }'}}
    The {{ job.name }} job has no metrics associated just yet.

    Try running the build once.

    ```js
    var yep = 'true';

    ```
  {{/markdown}}

{{/metrics}}


{{#modal}}
  <div class="modal-body">
    <div class="js-body"></div>

    {{#markdown}}
    Use the form above to set or edit the asset value.
    {{/markdown}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary js-save">Save changes</button>
  </div>
{{/modal}}
