<table class="table table-hover table-stripped">
  <thead>
    <tr class="black-muted-bg">
      <th class="align-left">Name</th>
      <th class="align-right">URLs</th>
      <th class="align-right">Next run</th>
      <th class="align-right">Last run started</th>
      <th class="align-right">Last run finished</th>
      <th class="align-left">Last results</th>
      <th class="align-left">Frequency</th>
    </tr>
  </thead>
  <tbody>
  {{#each jobs}}
    <tr data-event="click" data-handler="goTo" data-name="{{ name }}">
      <td class="align-left">{{ name }}</td>
      <td class="align-right">
        {{#each data.urls}}
          <a href="{{ . }}">{{ . }}</a> <br />
        {{/each}}
      </td>
      <td class="align-right">{{fromNow nextRunAt }}</td>
      <td class="align-right">{{fromNow lastRunAt }}</td>
      <td class="align-right">{{fromNow lastFinishedAt }}</td>
      <td class="align-left">{{{results lastRunResults }}}</td>
      <td class="align-left">{{ data.frequency }}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
