<table class="md-wide mdl-data-table mdl-js-data-table mdl-shadow--4dp is-upgraded">
  <thead>
    <tr>
      <th class="mdl-color-text--accent mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-color-text--accent mdl-data-table__cell--non-numeric">URLs</th>
      <th class="mdl-color-text--accent mdl-data-table__cell--non-numeric">Next run</th>
      <th class="mdl-color-text--accent mdl-data-table__cell--non-numeric">Last run started</th>
      <th class="mdl-color-text--accent mdl-data-table__cell--non-numeric">Last run finished</th>
      <th class="mdl-color-text--accent mdl-data-table__cell--non-numeric">Frequency</th>
    </tr>
  </thead>
  <tbody>
  {{#each jobs}}
    <tr id="tooltip-{{ name }}" data-name="{{ name }}" data-event="click" data-action="goTo">
      <td class="mdl-data-table__cell--non-numeric">
        <a href="/job/{{ href }}">
          {{ name }}
        </a>
      </td>

      <td class="mdl-data-table__cell--non-numeric">
        {{#each data.urls}}
          <a href="{{ . }}">{{ . }}</a> <br />
        {{/each}}
      </td>

      <td class="mdl-data-table__cell--non-numeric">{{fromNow nextRunAt }}</td>

      <td class="mdl-data-table__cell--non-numeric">{{fromNow lastRunAt }}</td>

      <td class="mdl-data-table__cell--non-numeric">{{fromNow lastFinishedAt }}</td>

      <td class="mdl-data-table__cell--non-numeric">{{ data.frequency }}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
