<div class="col-xs-6 col-lg-3">
  <div class="metric-stat metric-{{ className }}" style="color: {{ color }}">
    <div class="metric-stat-label">
      {{ label }}
    </div>

    <div class="metric-stat-number">
      {{value}}{{unit}}
    </div>

    <div class="metric-stat-sub">
      {{ description }}
    </div>
  </div>
</div>
