<ul class="nav nav-tabs job-tabs">
  <li>
    <a href="{{ baseURL }}/view//last">Current</a>
  </li>
  <li>
    <a href="{{ baseURL }}/view//">Build History</a>
  </li>

  {{{ body }}}

  <li class="active">
    <a href="{{ baseURL }}/{{ job.name }}/edit/">Edit</a>
  </li>
</ul>
