{{#extend "scripts"}}
<script src="/js/pages/home.js"></script>
{{/extend}}

<div class="page-header clearfix" style="margin-top: 0;">
  <h3>
    {{title}}
    <div class="btn-group right">
      {{#buttons}}
      <a class="btn btn-default right" href="{{ url }}" role="button">{{ name }}</a>
      {{/buttons}}
    </div>
  </h3>
</div>

<table class="table js-home">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Last Success</th>
      <th>Last Failure</th>
      <th>Last Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#jobs}}
    <tr class="{{#red}}warning{{/red}}">
      <td>
        <a href="/view/{{ name }}/last">
          <div class="doony-circle doony-circle-{{ color }}{{#animated}} bounceIn animated infinite{{/animated}}" style="display: inline-block; margin-top: 4px; margin-left: 4px; width: 24px; height: 24px;"></div>
        </a>
      </td>
      <td>
        <a href="/view/{{ name }}/last">{{ name }}</a>
        <a href="{{ url }}">(jenkins)</a>
      </td>
      <td>
        <a href="/{{ namespace }}/edit/{{ name }}" class="label label-default">
        {{ type }}
        </a>
      </td>
      <td>
        {{#lastSuccessfulBuild}}
        <a href="/{{ namespace }}/view/{{ name }}/{{ lastSuccessfulBuild.number }}">
        {{ lastSuccessfulBuild.moment }}
        </a>
        {{/lastSuccessfulBuild}}
      </td>
      <td>
        {{#lastFailedBuild}}
        <a href="/{{ namespace }}/view/{{ name }}/{{ lastFailedBuild.number }}">
        {{ lastFailedBuild.moment }}
        </a>
        {{/lastFailedBuild}}
      </td>
      <td>
        {{#lastBuild}}
        <a href="/{{ namespace }}/view/{{ name }}/{{ lastBuild.number }}">
        {{ lastBuild._duration }}
        </a>
        {{/lastBuild}}
      </td>
      <td>
        <div class="btn-group right">
          <a class="btn btn-default" href="/view/{{ name }}/build" role="button">Run</a>
          <a class="btn btn-default" href="/{{ namespace }}/edit/{{ name }}" role="button">Edit</a>
          <a class="btn btn-danger"  href="/delete/{{ name }}" role="button" onclick="return confirm('Sure ?')">Delete</a>
        </div>
      </td>
    </tr>
    {{/jobs}}
  </tbody>
</table>
