<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/addon/hint/show-hint.css">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/vendor/select2/select2.css">
  <link rel="stylesheet" href="/vendor/animate.css">

  {{{block "stylesheets"}}}
</head>
<body class="app {{ classname }}">
  {{> navtop }}
  {{!> queue }}
  {{> navside }}

  <div class="app-main container-fluid">
    {{{ body }}}
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/mode/xml/xml.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/mode/javascript/javascript.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/mode/shell/shell.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/mode/gherkin/gherkin.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/addon/hint/show-hint.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.10/highcharts.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/screenfull.js/1.0.4/screenfull.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

  <script src="/vendor/profiler.js"></script>
  <script src="/vendor/jquery-cron.js"></script>
  <script src="/vendor/jsonlint.js"></script>
  <script src="/vendor/select2/select2.js"></script>
  <script src="/vendor/ansiparse.js"></script>
  <script src="/vendor/bootstrap-modal.js"></script>
  <script src="/js/pages/highcharts-view.js"></script>

  {{{block "scripts"}}}
</body>
</html>
