{{#extend "scripts"}}
<script src="/js/pages/build.js"></script>
{{/extend}}

{{#summary}}
  {{> job_summary }}
{{/summary}}

<!-- Nav tabs -->
{{#tabs tab job}}
  {{#number}}
  <li class="active">
    <a href="#">Build {{ . }}</a>
  </li>
  {{/number}}
{{/tabs}}


<div class="js-build" data-animated="{{ animated }}" data-number="{{ job.lastBuild.number }}" data-last="{{ last }}" data-pending="{{ pending }}">


  <div class="log-container">
    <pre class="js-log log ansi" style="margin-top: 35px;">{{ build.log }}</pre>
  </div>
</div>
