<h3>Create Job</h3>

<form class="form js-job-form panel panel-blur" method="post" action="/create">
  {{{ helpers.messages }}}

  <p class="description">
    Fill in the form below to create a new Phantomas Job.
  </p>

  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col mdl-textfield--floating-label">
      <input required id="ipt_name" type="text" name="name" class="mdl-textfield__input" value="{{ job.name }}">
      <label for="ipt_name" class="mdl-textfield__label">Job name</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col mdl-textfield--floating-label">
      <label for="ipt_frequency" class="mdl-textfield__label">Frequency</label>
      <input required id="ipt_name" type="text" name="frequency" class="mdl-textfield__input" value="{{ job.frequency }}">
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col mdl-textfield--floating-label">
      <label class="mdl-textfield__label">URLs (space separated)</label>
      <input required id="ipt_name" type="text" name="urls" class="mdl-textfield__input" value="{{ job.urls }}">
    </div>

    <p>You can configure asserts by editing the asserts property below.</p>

    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col mdl-textfield--floating-label">
			<label class="mdl-textfield__label">JSON Config</label>
			<textarea rows="10" class="mdl-textfield__input" name="config"
				style="width: 100%; margin-bottom: 0.5em; height: auto;">{{ job.config }}</textarea>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-typography--text-right">
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--accent">
				Save
			</button>
		</div>
  </div>

</form>
