<div class="build-url build-box">
  <h4 class="build-box-header">
    <a class="label label-default" href="{{ url }}">{{ url }}</a> -
    <a class="build-box-header-link js-timeline-toggle" href="#"" title="Click to toggle">Timeline</a>
    <a class="build-box-header-link small" href="{{ jenkinsFilmstripDir }}" title="{{ jenkinsFilmstripDir }}">
      (link)
    </a>
    /
    <a class="build-box-header-link js-har-toggle" href="#"" title="Click to toggle">HAR</a>
    <a class="build-box-header-link small" href="{{ jenkinsHar }}" title="{{ jenkinsHar }}">
      (link)
    </a>
  </h4>

  <div class="build-url-timeline">
    <table>
      <tr>
      {{#screenshots}}
        <td>
          {{ time }} ms
        </td>
      {{/screenshots}}
      </tr>

      <tr>
      {{#screenshots}}
        <td>
          <a href="{{ url }}" class="thumbnail">
            <img src="{{ thumbnail }}" width="200" height="120">
          </a>
        </td>
      {{/screenshots}}
      </tr>
    </table>
  </div>


  <div class="har" data-har="{{ localHar }}" validate="false" height="600px"></div>



</div>
