<style>.panel iframe { border: none !important; border-top: 1px solid #ccc; }</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="label label-default" href="{{ url }}">{{ url }}</a> -
      <a class="build-box-header-link small" href="{{ jenkinsFilmstripDir }}" title="{{ jenkinsFilmstripDir }}">
        Filmstrip directory
      </a>
      /
      <a class="build-box-header-link small" href="{{ jenkinsHar }}" title="{{ jenkinsHar }}">
        Har
      </a>
    </h4>
  </div>
  <div class="panel-body">
    <table>
      <tr>
      {{#screenshots}}
        <td>
          {{ time }} ms
        </td>
      {{/screenshots}}
      </tr>

      <tr>
      {{#screenshots}}
        <td>
          <a href="{{ url }}" class="thumbnail">
            <img src="{{ thumbnail }}" width="200" height="120">
          </a>
        </td>
      {{/screenshots}}
      </tr>
    </table>
  </div>

  <div class="har" data-har="{{ localHar }}" validate="false" height="600px"></div>
</div>
